# Secret used to encrypt and decrypt authentication tokens.
# Generate with `openssl rand -base64 48` to update on production.
AUTH_SECRET="***"

# Encryption settings, see `src/lib/helpers/crypt.ts`.
# Generate with `openssl rand -base64 48` to update on production.
AES_192_CBC_PASS="***"
AES_192_CBC_SALT="***"

# Record of the accepted addresses and their percentages,
# if provided only a single string, the percentage will be 100.
#
# CRYPT_ADDRESSES="{
#   "BTC": "3FZbgi29cpjq2GjdwV***HuJJnkLtktZc5",
#   "TRC20/USDT": {"TPAgKfYzRdK***XvEVu4jPKfeuer5": 0.25,
#                  "TBia4uHnb3o***284cA7Np1v15Vhi": 0.75},
# }"
CRYPT_API_ADDRESSES="***"

# Public key for the Crypt API Callback.
# https://api.cryptapi.io/pubkey/
CRYPT_API_PUBLIC_KEY="***"
