# Encryption settings, see `src/lib/helpers/crypt.ts`.
# Generate with `openssl rand -base64 56` to update on production.
AES_192_CBC_PASS="69806f23c197752f0d6dd1b6807ee30fcf68910508fc3fb1aac6f847"
AES_192_CBC_SALT="26660f2d43d0e23d41a404fb60b0c83326b93d111b2121cfedbbd299"

# Record of the accepted addresses and their percentages,
# if provided only a single string, the percentage will be 100.
#
# @example
# ADDRESS_RECORD_OUT={
#   "BTC": "3FZbgi29cpjq2GjdwV***HuJJnkLtktZc5",
#   "TRC20/USDT": {"TPAgKfYzRdK***XvEVu4jPKfeuer5": 0.25,
#                  "TBia4uHnb3o***284cA7Np1v15Vhi": 0.75},
# }
ADDRESS_RECORD_OUT="{\"BTC\": \"3FZbgi29cpjq2GjdwV***HuJJnkLtktZc5\",\"TRC20/USDT\": {\"TPAgKfYzRdK***XvEVu4jPKfeuer5\": 0.25, \"TBia4uHnb3o***284cA7Np1v15Vhi\": 0.75}}"
