node_modules

# Output
.output
.vercel

/build
/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.test
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Wrangler
.wrangler/
.*.vars

# Rust and Cargo
debug/
target/
**/*.rs.bk
*.pdb
