{
	"semi": true,
	"useTabs": true,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSameLine": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	],
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-classnames",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-merge"
	]
}
